doctype html
html(lang=lang).no-js
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    title=messages.title
    link(rel="shortcut icon", href="fav.png", type="image/png")
    meta(name="description", content=messages.description)
    meta(name="keywords", content=messages.keywords)
    meta(name="yandex-verification", content=messages.yandexKey)
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel="stylesheet", type="text/css", href="//fonts.googleapis.com/css?family=Roboto&subset=cyrillic")
    link(rel="stylesheet", type="text/css", href="foodzzilla.css")
  body
  div.content
    div.column.left-column
      div.well.header!=messages.header
      div.well.description!=messages.description
    div.column.right-column
      include ./subscribe.jade
  footer.sticky
    img.logo(src="logo_original.png")
